<html>
    
<head>
    
    <link type="text/css" rel="stylesheet" href="/site_media/pystories/css/onlywidget.css">
            
</head>

<body >   

<div id="widget" >
    
    <table>
        <tr>
            <td id="widgetheader">
                What's up in the django world?<a href="http://feeds2.feedburner.com/uswaretech-django-popular-stories" target="_blank">  <img src="/site_media/pystories/images/feedicon.png" alt="Doloto Rss icon" /> </a>
             </td>
         </tr>
         <tr>
             <td>
                <ul id="contents">
                    {% for newsentry in topnewslist %}
                       {% if forloop.last %}
                            <li class="last"> <a href="{{newsentry.url}}"  target="_blank"> {{newsentry.title}} </a> </li>
                       {% else %}
                            <li> <a href="{{newsentry.url}}" target="_blank"> {{newsentry.title}} </a> </li>
                       {% endif %}                  
                    {% endfor %} 
                </ul>
               </td>
           </tr>
           <tr>
              <td id="footer">
                
                <span style="float:left"> <a href="/pystories/welcome/" target="_blank" >  embed this widget </a> </span>
                <span style="float:right"> <a href="/blog/"target="_blank" >  uswaretech.com </a> </span>
               </td>
            </tr>
         </table>
</div>

</body>

